{% extends "app/base.html" %}
{% load static %}

{% block title %}Modifier un critère{% endblock %}
{% block content %}

	<div class="jumbotron">
		<h1>Modifier un critère</h1>
		<p>Vous pouvez modifier un critère existant - attention, cela peut changer complètement la pertinence des annonces sauvegardées !</p>
	</div>

	<div class="page-header">
		<h1>Votre critère</h1>
	</div>

	<div class="row">
    	<div class="col-md-12">
			{% if send %}
				<div class="alert alert-success" role="alert">Votre critère a bien été enregistré.</div>
			{% endif %}			
			<form action="{% url 'app:criteria_update' criteria.id %}" method="post">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Enregistrer" />
			</form>
		</div>
		
{% endblock %}